@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Login as a Admin  <a class="text-success" asp-controller="Login" asp-action="Index">There <---</a></p>
</div>
